# Database
DATABASE_URL="postgresql://user:password@localhost:5432/amks"

# Auth.js
AUTH_SECRET="generate-with-openssl-rand-base64-32"

# Cron Secret (for background tasks)
CRON_SECRET="your_secret_cron_key_here"
